<% layout("./layouts/boilerplate") -%>


  <div>
    <ul style="list-style-type: none;" class="mt-3 mx-auto" style="z-index: 6;">
      <% for(let i=posts.length - 1; i>=0; i-- ) { %>
        <li class=" col-10 col-lg-8 mx-auto post-card rounded-2" style="opacity: 1;">
          <div class="card my-5" style="width: 100%; background-color: inherit;">
            <div class="card-body post-body">
              <a href="/profile/<%= posts[i].creator.id%>/view">
                <img src="<%= posts[i].creator.profile_url %>" style="width: 36px; " class="rounded-circle me-3 border">
              </a>
              <h5 class="card-title d-inline">
                <%=posts[i].title %>
              </h5>
              <p class="card-text">
                <%=posts[i].content %>
              </p>

            </div>
            <div class="card-footer d-flex">
              <form action="/posts/<%= posts[i].id%>/view" method="get" class="d-inline">
                <button class="btn btn-outline-dark ">View</button>
              </form>

              <!-- btn to like posts -->

              <button type="button" class="border border-0 " style="background-color: transparent;"
                onclick="handleLiked(`<%= posts[i].id %>`)">
                <i class="fa-solid fa-heart like-icon <%=currUser !== undefined && posts[i].likes.includes(currUser.id) ? 'red': '' %>"
                  style="font-size: 1.5rem;cursor: pointer;"></i>
              </button>




              <div class="time-status my-auto">
                <span>
                  <%=posts[i].created_date %> |
                </span>
                <span>
                  <%=posts[i].created_at %>
                </span>

              </div>

            </div>
          </div>
        </li>
        <% }%>
    </ul>

  </div>



  <script>

    function handleLiked(id) {

      axios.post(`/posts/likes/${id}`, {
        headers: {
          Accept: "application/json"
        }
      })
        .then(res => {
          let errRes = res.headers["content-type"];
          if (errRes.includes("text/html")) {
            return alert("you have to first authorise your account, do login or signup")
          }
          if (res.data.isliked) {
            window.alert(res.data.msg);
          } else {
            confirm(res.data.msg);
          }

        })
        .catch(err => {
          console.log("WE encounter an error");
          console.log(err);
        })

    }


  </script>